.hero-unit
  h1 Bridal
  ul.nav.nav-tabs
    li
      a(href='/bridal-pics.html') Bridal Photos
    li.active
      a(href='/bridal-offers.html') Bridal Offers
  .row
    .span10#bridaloff
      h2 Your Wedding!
      h3 Planning The Big Day!

      div So.. You found your dream dress. You've picked out the most delicious cake. Now, it's time to find your perfect hair & make up! Let Ultima Hair Designers Salon & Spa make your day special! The anticipation of your big day is exciting, so let us help you with your planning...

      h3 6 Months Before

      div You've set your date now it's time to make your appointments for your hair & make up. It's one less thing you will have to worry about.

      table
        thead
          tr
            th Soft & Supple Skin
            th Hands & Feet
            th Hair & Makeup
        tbody
          td Visit our esthetician to begin your skin care regimen to make your skin look it's best. It would be our pleasure to make your skin glow for your big day!
          td Book your monthly manicure & pedicure to keep your hands and feet soft and supple. Try paraffin treatments to reduce swelling and relax away stress. Show off your sparkling ring in style!
          td Make sure to book your make up trial the same day as your hair trial. Let our experienced makeup artist show you a flawless look that will last the whole day!

      h3 3 Months Before

      div So.. You found your dream dress. You've picked out the most delicious cake. Now, it's time to find your perfect hair & make up! Let Ultima Hair Designers Salon & Spa make your day special! The anticipation of your big day is exciting, so let us help you with your planning...

      table
        thead
          tr
            th Bridal Party Gifts
            th Honeymoon Sundries
            th For Your Mom
        tbody
          tr
            td Need gifts for your bridal party? Gift certificates to Ultima Hair Designers Salon & Spa are the perfect way to say "Thank You".
            td Visit our travel section to stock up on your shampoo, conditioner, hair styling products, & skin care needs in sizes perfect for travel.
            td Let Ultima Hair Designers Salon & Spa pamper your mom. From Hair & Makeup to a Mani & Pedi. After all she's done.... She deserves it.

      h2 The Big Day!

      div All your planning has finally paid off. Sit back, and let our team make you beautiful for the day you will remember forever!
