.hero-unit
  h1 Bridal
  ul.nav.nav-tabs
    li.active
      a(href='/bridal-pics.html') Bridal Photos
    li
      a(href='/bridal-offers.html') Bridal Offers
  ul.thumbnails
    li.span3
      a.thumbnail(href='#')
        img(src='/images/ultima/bridal/IMG_0650.JPG')
    li.span3
      a.thumbnail(href='#')
        img(src='/images/ultima/bridal/IMG_0663.JPG')
    li.span3
      a.thumbnail(href='#')
        img(src='/images/ultima/bridal/IMG_0665.JPG')
    li.span3
      a.thumbnail(href='#')
        img(src='/images/ultima/bridal/IMG_0667.JPG')
    li.span3
      a.thumbnail(href='#')
        img(src='/images/ultima/bridal/IMG_0668.JPG')
    li.span3
      a.thumbnail(href='#')
        img(src='/images/ultima/bridal/IMG_0673.JPG')
    li.span3
      a.thumbnail(href='#')
        img(src='/images/ultima/bridal/IMG_0712.JPG')
    li.span3
      a.thumbnail(href='#')
        img(src='/images/ultima/bridal/IMG_0721.JPG')
    li.span3
      a.thumbnail(href='#')
        img(src='/images/ultima/bridal/IMG_0722.JPG')
    li.span3
      a.thumbnail(href='#')
        img(src='/images/ultima/bridal/IMG_0724.JPG')
    li.span3
      a.thumbnail(href='#')
        img(src='/images/ultima/bridal/IMG_0726.JPG')
    li.span3
      a.thumbnail(href='#')
        img(src='/images/ultima/bridal/IMG_0729.JPG')

