.hero-unit
  h1 Contact Us
  address
    strong Ultima Hair Designers Salon & Spa
    br
    span 253 Newton Sparta Road
    br
    span Andover, NJ 07860
    br
    abbr(title="Phone") P:
    span 973-579-1199
   h2 Find Us On
   ul.unstyled.icons
     li
      a(href='#')
        img(src='/icons/facebook.png', border='0')
     li
      a(href='#')
        img(src='/icons/twitter.png', border='0')
     li
      a(href='#')
        img(src='/icons/yelp.png', border='0')
     li
       a(href='#')
         img(src='/icons/map.png', border='0')
