.hero-unit
  h1 Contact Us
  address
    strong Ultima Hair Designers Salon & Spa
    br
    span 253 Newton Sparta Road
    br
    span Andover, NJ 07860
    br
    abbr(title="Phone") P:
    span 973-579-1199
   h2 Email
   br
   a(href='mailto:ultima253@hotmail.com') ultima253@hotmail.com
   h2 Find Us On
   ul.unstyled.icons
     li
      a(href='http://www.facebook.com/ultimahairdesigners', target='new')
        img(src='/icons/facebook.png', border='0')
     li
       a(href='https://twitter.com/theultimasalon', target='new')
        img(src='/icons/twitter.png', border='0')
     li
      a(href='http://www.yelp.com/biz/ultima-hair-designers-and-day-spa-newton', target="new")
        img(src='/icons/yelp.png', border='0')
     li
       a(href='https://maps.google.com/maps?q=ultima+hair+designers+salon+and+spa+near+newton,+nj&hl=en&ll=41.037542,-74.70068&spn=0.089212,0.198784&sll=41.044275,-74.70068&sspn=0.089203,0.198784&t=h&hq=ultima+hair+designers+salon+and+spa&hnear=Newton,+Sussex,+New+Jersey&z=13', target='new')
         img(src='/icons/map.png', border='0')
