.hero-unit
  h1 Special Offers 
  ul.nav.nav-tabs
    li
      a(href='/promotions.html') Promotions
    li.active
      a(href='/giftcertificates.html') Gift Certificates
  | Ultima offers gift certificates which can be ordered by email or over the phone.  Please email us at <a href="mailto: ultima253@hotmail.com">ultima253@hotmail.com</a> or call us at 973-579-1199
  p
  | When emailing your order, please include your phone number as well as the recipient's name, email, and phone number.  You can also specify the amount of the gift certificate.
  p
  | A gift certificate from The Ultima will be mailed to the recipient via print or email based upon your preference. Thank you for giving the gift of pampering to someone you love!
