.row
  .span8
    #promos.carousel.slide
      .carousel-inner
        .item.active
          a(href='/promotions.html')
            img(src='/images/specials/201202/car/1.PNG')
        .item
          a(href='/promotions.html')
            img(src='/images/specials/201202/car/2.PNG')
        .item
          a(href='/promotions.html')
            img(src='/images/specials/201202/car/3.PNG')
  .span4
    script(charset="utf-8", src="http://widgets.twimg.com/j/2/widget.js")
    script
      new TWTR.Widget({  version: 2,  type: 'profile',  rpp: 1,  interval: 30000,  theme: {    shell: {        },    tweets: {  }  },  features: {    scrollbar: false,    loop: false,    live: false,    behavior: 'all'  }}).render().setUser('theultimasalon').start();
.row
  .span12.well
    h2 About Us
    | Ultima Hair Designers Salon & Spa welcomes you to our business.  the art of creating beautiful, "healthy" hair, skin, nails & body, is our love & profession.  "Passing along" out knowledge is what our teams does best.  Each team member has consistent education to reach performance goals of Stylists, Designer, Master Designer, Redken Certified Color Speacialists, Bridal Specialist, Esthetic Consultant, & Certified Bodywellness Therapiest.  Ultima is proud to announce that we have Redken award winning hair designers and Master esthetician's from Yonka Paris.  Thank you for joining us.
.row
  .span12.well
    h2 Salon Tour
    ul.thumbnails
      li.span3
        a.thumbnail(href='/salontour.html')
          img(src='/images/ultima/lightboxviews/DSCN0348.jpg')
      li.span2
        a.thumbnail(href='/salontour.html')
          img(src='/images/ultima/lightboxviews/DSCN0374.jpg')
      li.span3
        a.thumbnail(href='/salontour.html')
          img(src='/images/ultima/lightboxviews/DSCN0382.jpg')
      li.span3
        a.thumbnail(href='/salontour.html')
          img(src='/images/ultima/lightboxviews/DSCN0408.jpg')
    ul.thumbnails
      li.span3
        a.thumbnail(href='/salontour.html')
          img(src='/images/ultima/lightboxviews/DSCN0418.jpg')
      li.span3
        a.thumbnail(href='/salontour.html')
          img(src='/images/ultima/lightboxviews/DSCN0423.jpg')
      li.span3
        a.thumbnail(href='/salontour.html')
          img(src='/images/ultima/lightboxviews/DSCN0429.jpg')
      li.span2
        a.thumbnail(href='/salontour.html')
          img(src='/images/ultima/lightboxviews/DSCN0438.jpg')
      li.span2
        a.thumbnail(href='/salontour.html')
          img(src='/images/ultima/lightboxviews/DSCN0445.jpg')
      li.span2
        a.thumbnail(href='/salontour.html')
          img(src='/images/ultima/lightboxviews/DSCN0750.jpg')
      li.span2
        a.thumbnail(href='/salontour.html')
          img(src='/images/ultima/lightboxviews/DSCN0759.jpg')
      li.span2
        a.thumbnail(href='/salontour.html')
          img(src='/images/ultima/lightboxviews/DSCN0760.jpg')
      li.span2
        a.thumbnail(href='/salontour.html')
          img(src='/images/ultima/lightboxviews/DSCN0761.jpg')
