.hero-unit
  h1 Special Offers 
  ul.nav.nav-tabs
    li.active
      a(href='/promotions.html') Promotions
    li
      a(href='/giftcertificates.html') Gift Certificates
  ul.thumbnails
    li.span3
      a.thumbnail(href='/images/specials/201202/1.jpg')
        img(src='/images/specials/201202/1.jpg')
    li.span3
      a.thumbnail(href='/images/specials/201202/2.jpg')
        img(src='/images/specials/201202/2.jpg')
    li.span3
      a.thumbnail(href='/images/specials/201202/3.jpg')
        img(src='/images/specials/201202/3.jpg')
