.hero-unit
  h1 Salon Menu
  ul.nav.nav-tabs
    li
      a(href='/salonmenu.html') Salon
    li.active
      a(href='/salonmenu-nails.html') Nails
    li  
      a(href='/salonmenu-makeup.html') Make-up
    li
      a(href='/spamenu-massage.html') Massage
    li
      a(href='/spamenu-body.html') Body Treatments
    li
      a(href='/spamenu-wax.html') Waxing
    li
      a(href='/spamenu-facials.html') Facials
  .row
    .span3
      table.table.table-striped
        thead
          tr
            th(colspan="2") Natural Nails
              br
              span.tablelabel CND, Cuccio, OPI, Farmhouse Fresh Products
        tbody
          tr
            td Regular Manicure 
            td $21.00
          tr
            td Spa Manicure
            td $43.00
          tr
            td Luxury Manicure
            td $53.00
          tr
            td <b>NEW</b> Shellac/OPI Gel Polish
            td $32.00
          tr
            td Paraffin Treatment
            td $18.00
          tr
            td Polish Change
            td $14.00
    .span3
      table.table.table-striped
        thead
          tr
            th(colspan="2") Pedicures
              br
              span.tablelabel All Q'tica, Cuccio Products
        tbody
          tr
            td Regular Pedicure
            td $33.00
          tr
            td Spa Pedicure
            td $53.00
          tr
            td Luxury Pedicure
            td $63.00
          tr
            td Paraffin Treatment
            td $18.00
          tr
            td Spa Pedicure Series
            td Buy 3 Get 1 Free
    .span4
      table.table.table-striped
        thead
          tr
            th(colspan="2") Artificial Nails
              br
              span.tablelabel All Premium Eco Products
        tbody
          tr
            td Acryllic Full Set
            td $37.00
          tr
            td Acryllic Fill In
            td $27.00
          tr
          td Acryllic Glitter; add on
            td $10.00
          tr
            td Gels Full Set
            td $37.00
          tr
            td Gels Fill In
            td $27.00
          tr
          td Pink & White; add on
            td $10.00
          tr
          td Repair; each nail
            td $5.00
          tr
          td Nail Art; each nail
            td $1-5
