.hero-unit
  h1 Salon Menu
  ul.nav.nav-tabs
    li.active
      a(href='/salonmenu.html') Salon
    li
      a(href='/spamenu-massage.html') Massage
    li
      a(href='/spamenu-body.html') Body Treatments
    li
      a(href='/spamenu-wax.html') Waxing
    li
      a(href='/spamenu-facials.html') Facials
  .row
    .span3
      table.table.table-striped
        thead
          tr
            th Haircuts & Styles
        tbody
          tr
            td Women's Haircut/Style
            td $34.00
          tr
            td Men's Haircut
            td $19.00
          tr
            td Child's Haircut &lt; 12
            td $19.00
          tr
            td Beard       trim
            td $9.00
          tr
            td Bang       trim
            td $9.00
          tr
            td Special Occasion
            td $68.00 - $78.00

          tr
            td Bride Special Occasion
            td $84.00
          tr
            td Shampoo Blow Dry
            td $24.00
          tr
            td Conditioning     treatment
            td $14.00
          tr
            td Chemistry Systemtreatment
            td $24.00
          tr
            td Extra Style
            td $14.00
    .span3
      table.table.table-striped
        thead
          tr
            th Perms/Straightening
        tbody
          tr
            td Full Perm; 31 + rods
            td $73.00
          tr
            td Partial Perm; 11 to 30 rods
            td $58.00
          tr
            td &lt; 10 Rods; per rod
            td $9.00
          tr
            td Straightening
            td Price per consultation
          tr
            td Keratin Complex
            td Price per consultation
          tr
            td Design Waves
            td Price per consultation
          tr
            td Extensions
            td Price per consultation
    .span4
      table.table.table-striped
        thead
          tr
            th Coloring Services
        tbody
          tr
            td Color; Up to 4oz.
            td $48.00
          tr
            td Overlays & Additional Color
            td $14.00
          tr
            td Full Foils; 31+ foils
            td $78.00
          tr
            td Partial Foils; 11 to 30 foils
            td $63.00
          tr
            td Less       than 10 foils; per foil
            td $11.00
          tr
            td Men's Partial Color
            td $24.00
          tr
            td Brow Tint
            td $11.00
          tr
            td Corrective Color
            td Price per consultation
      table.table.table-striped
        thead
          tr
            th Keratin
        tbody
          tr
            td Keratin Complex
            td $235.00
