.hero-unit
  h1 Salon Menu
  ul.nav.nav-tabs
    li
      a(href='/salonmenu.html') Salon
    li  
      a(href='/salonmenu-nails.html') Nails
    li.active
      a(href='/salonmenu-makeup.html') Make-up
    li
      a(href='/spamenu-massage.html') Massage
    li
      a(href='/spamenu-body.html') Body Treatments
    li
      a(href='/spamenu-wax.html') Waxing
    li
      a(href='/spamenu-facials.html') Facials
  .row
    .span3
      table.table.table-striped
        thead
          tr
            th(colspan="2") Make-up
              br
              span.tablelabel MAC Make-up Applied
        tbody
          tr
            td Application
            td $51.00
          tr
            td Application - Bride
            td $56.00
          tr
            td Lessons
            td $61.00
          tr
            td Eyelash Application
            td $12.00
