.hero-unit
  h1 Spa Menu
  ul.nav.nav-tabs
    li
      a(href='/salonmenu.html') Salon
    li  
      a(href='/salonmenu-nails.html') Nails
    li  
      a(href='/salonmenu-makeup.html') Make-up
    li
      a(href='/spamenu-massage.html') Massage
    li
      a(href='/spamenu-body.html') Body Treatments
    li
      a(href='/spamenu-wax.html') Waxing
    li.active
      a(href='/spamenu-facials.html') Facials
  .row
    .span6
      table.table.table-striped
        thead
          tr
            th FACIALS<br /><span class="tablelabel">Yonka Paris Skin Care Products
        tbody
          tr
            td PROFESSIONAL SKIN CONSULTATION
            td <b>COMPLIMENTARY!</b>
          tr
            td LE GRAND CLASSIQUE<br /><span class="tablelabel">is a deep pore cleansing and restoring facial. This is one of the most complete and personalized treatment for any complexion. Approx. 75 min
            td $114.00
          tr
            td ALPHA-VITAL<br /><span class="tablelabel">instantly improves skin roughness using natural fruit acid. A .fruitplasty. peel off mask will reveal a luminous complexion. Approx. 70min
            td $114.00
          tr
            td OPTIMIZER<br /><span class="tablelabel">is a deep firming and lifting facial. Long term effects of flawless skin and perfect tone when received as a series of 3-4 treatments.  Approx. 80 min
            td $114.00
          tr
            td VITAL INTENSE<br /><span class="tablelabel">is a deep revitalizing anti-wrinkle facial. This breakthrough ant-aging treatment instantly counteracts wrinkles and fine lines, making your skin feel revitalized and younger. Approx. 80min
            td $114.00
          tr
            td HYDRALESSENCE FACE<br /><span class="tablelabel">is a .super hydrating. anti-aging facial. It calms and soothes the skin while delivering enhanced elasticity and luxurious suppleness. Approx. 60 min
            td $114.00
          tr
            td SOIN PURETE<br /><span class="tablelabel">is an acne solution treatment. By regulating the production of sebum, and controlling inflammation, you will receive painless tangible results. Approx. 70 or 80 min
            td $114.00
          tr
            td INTERMEZZO<br /><span class="tablelabel">is an express flower and fruit facial. This quick beauty treatment instantly reveals an exquisite surface. Approx. 15 min
            td $46.00
          tr
            td ESCALE BEAUTE<br /><span class="tablelabel">is a fast and efficient .hydrating pickup. facial with visible results. It fits easily into any budget or schedule. Approx. 25 min
            td $63.00
          tr
            td ECLAT CONTOUR<br /><span class="tablelabel">is an .eye stress relief session..  This intensive treatment alleviates sinus pain, puffiness, crow.s feet, and aging expression lines.  Approx. 50 min
            td $71.00
          tr
            td TEEN FACIAL<br />
            td $94.00
