.hero-unit
  h1 Spa Menu
  .row
    .span3
      table.table.table-striped
        thead
          tr
            th Massages         
        tbody
          tr
            td 50 minutes
            td $63.00
          tr
            td 75 minutes
            td $83.00
          tr
            td 90 minutes
            td $103.00
          tr
            td Add On: Other than Swedish
            td $14.00
          tr
            td Series
            td Buy THREE get one Free!
      table.table.table-striped
        thead
          tr
            th WAXING
        tbody
          tr
            td Brow
            td $13.00
          tr
            td Lip
            td $12.00
          tr
            td Chin
            td $12.00
          tr
            td Full Face
            td $30.00
          tr
            td Under Arms
            td $26.00
          tr
            td Half Arm
            td $32.00
          tr
            td Bikini
            td $42.00
          tr
            td Brazilian; modified
            td $57.00
          tr
            td 1/2 Leg; knee down
            td $48.00
          tr
            td Full Leg; No Bikini
            td $68.00
          tr
            td Men's Back
            td $51.00
          tr
            td Men's Chest
            td $44.00
    .span6
      table.table.table-striped
        thead
          tr
            th Body Treatments
        tbody  
          tr
            td GOMMAGE MARIN - Exfoliation Treatment<br /><span class="label">An invigorating exfoliation composed of Guerande marine salt and essential oils which removes dead skin cells, liberating the skin. Approx. 30-45 min</span>
            td $56.00
          tr
            td JAMBES TONIQUES - Anti Fatigue Leg Treatment<br /><span class="label">An anti-fatigue leg treatment which relieves tired, heavy, painful, or swelling legs using draining techniques and gentle aromatic compression. Approx. 50 min</span>
            td $61.00
          tr
            td SOIN VELOURS - Citrus Exfoliation & Moisturizing Treatment<br /><span class="label">A citrus fruits exfoliation followed by a moisturizing treatment massaged into the body revealing smooth and silky skin. Approx. 70 min</span>
    
            td $76.00
          tr
            td HYDRALESSENCE BODY - Exfoliation with Algae Mask & Massage<br /><span class="label">A deep hydrating, nourishing, and firming treatment consisting of an exfoliation with an algae mask and massage providing long lasting results. Approx. 90 min</span>
    
            td $119.00
          tr
            td PHYTO MARINE - Body Contour Treatment<br /><span class="label">A body contour slimming treatment with seaweed or marine mud. This personalized boost provides optimum benefits when received as an intensive series. Approx. 80 min </span>
     
            td $99.00
      table.table.table-striped
        thead
          tr
            th FACIALS
        tbody
          tr
            td PROFESSIONAL SKIN CONSULTATION
            td <b>COMPLIMENTARY!</b>
          tr
            td SERIES PACKAGE
            td Buy THREE get 1 FREE!
          tr
            td LE GRAND CLASSIQUe<br /><span class="label">is a deep pore cleansing and restoring facial. This is one of the most complete and personalized treatment for any complexion. Approx. 75 min
            td $102.00
          tr
            td ALPHA-VITAL<br /><span class="label">instantly improves skin roughness using natural fruit acid. A .fruitplasty. peel off mask will reveal a luminous complexion. Approx. 70min
            td $102.00
          tr
            td OPTIMIZER<br /><span class="label">is a deep firming and lifting facial. Long term effects of flawless skin and perfect tone when received as a series of 3-4 treatments.  Approx. 80 min
            td $102.00
          tr
            td VITAL INTENSE<br /><span class="label">is a deep revitalizing anti-wrinkle facial. This breakthrough ant-aging treatment instantly counteracts wrinkles and fine lines, making your skin feel revitalized and younger. Approx. 80min
            td $102.00
          tr
            td HYDRALESSENCE FACE<br /><span class="label">is a .super hydrating. anti-aging facial. It calms and soothes the skin while delivering enhanced elasticity and luxurious suppleness. Approx. 60 min
            td $102.00
          tr
            td SOIN PURETE<br /><span class="label">is an acne solution treatment. By regulating the production of sebum, and controlling inflammation, you will receive painless tangible results. Approx. 70 or 80 min
            td $102.00
          tr
            td INTERMEZZO<br /><span class="label">is an express flower and fruit facial. This quick beauty treatment instantly reveals an exquisite surface. Approx. 15 min
            td $34.00
          tr
            td ESCALE BEAUTE<br /><span class="label">is a fast and efficient .hydrating pickup. facial with visible results. It fits easily into any budget or schedule. Approx. 25 min
            td $46.00
          tr
            td ECLAT CONTOUR<br /><span class="label">is an .eye stress relief session..  This intensive treatment alleviates sinus pain, puffiness, crow.s feet, and aging expression lines.  Approx. 50 min
            td $62.00
          tr
            td LE SOINS AU MASCULIN<br /><span class="label">is a skin treatment created specifically for men using high potency botanicals, leaving every rugged face healthier, and younger looking. Approx. 65 min
            td $94.00
