.hero-unit
  h1 Spa Menu
  ul.nav.nav-tabs
    li
      a(href='/salonmenu.html') Salon
    li.active
      a(href='/spamenu-massage.html') Massage
    li
      a(href='/spamenu-body.html') Body Treatments
    li
      a(href='/spamenu-wax.html') Waxing
    li
      a(href='/spamenu-facials.html') Facials
  .row
    .span3
      table.table.table-striped
        thead
          tr
            th Massages         
        tbody
          tr
            td 50 minutes
            td $63.00
          tr
            td 75 minutes
            td $83.00
          tr
            td 90 minutes
            td $103.00
          tr
            td Add On: Other than Swedish
            td $14.00
          tr
            td Series
            td Buy THREE get one Free!
