.hero-unit
  h1 Spa Menu
  ul.nav.nav-tabs
    li
      a(href='/salonmenu.html') Salon
    li  
      a(href='/salonmenu-nails.html') Nails
    li  
      a(href='/salonmenu-makeup.html') Make-up
    li
      a(href='/spamenu-massage.html') Massage
    li
      a(href='/spamenu-body.html') Body Treatments
    li.active
      a(href='/spamenu-wax.html') Waxing
    li
      a(href='/spamenu-facials.html') Facials
  .row
    .span3
      table.table.table-striped
        thead
          tr
            th WAXING
        tbody
          tr
            td Brow
            td $13.00
          tr
            td Lip
            td $12.00
          tr
            td Chin
            td $12.00
          tr
            td Full Face
            td $30.00
          tr
            td Under Arms
            td $26.00
          tr
            td Half Arm
            td $32.00
    .span3
      table.table.table-striped
        thead
          tr
            th &nbsp;
        tbody
          tr
            td Bikini
            td $42.00
          tr
            td Brazilian; modified
            td $57.00
          tr
            td 1/2 Leg; knee down
            td $48.00
          tr
            td Full Leg; No Bikini
            td $68.00
          tr
            td Men's Back
            td $51.00
          tr
            td Men's Chest
            td $44.00
