.hero-unit
  h1 Spa Menu
  ul.nav.nav-tabs
    li
      a(href='/salonmenu.html') Salon
    li  
      a(href='/salonmenu-nails.html') Nails
    li  
      a(href='/salonmenu-makeup.html') Make-up
    li
      a(href='/spamenu-massage.html') Massage
    li.active
      a(href='/spamenu-body.html') Body Treatments
    li
      a(href='/spamenu-wax.html') Waxing
    li
      a(href='/spamenu-facials.html') Facials
  .row
    .span6
      table.table.table-striped
        thead
          tr
            th Body Treatments
        tbody  
          tr
            td GOMMAGE MARIN - Exfoliation Treatment<br /><span class="tablelabel">An invigorating exfoliation composed of Guerande marine salt and essential oils which removes dead skin cells, liberating the skin. Approx. 30-45 min</span>
            td $63.00
          tr
            td JAMBES TONIQUES - Anti Fatigue Leg Treatment<br /><span class="tablelabel">An anti-fatigue leg treatment which relieves tired, heavy, painful, or swelling legs using draining techniques and gentle aromatic compression. Approx. 50 min</span>
            td $69.00
          tr
            td SOIN VELOURS - Citrus Exfoliation & Moisturizing Treatment<br /><span class="tablelabel">A citrus fruits exfoliation followed by a moisturizing treatment massaged into the body revealing smooth and silky skin. Approx. 70 min</span>
    
            td $97.00
          tr
            td HYDRALESSENCE BODY - Exfoliation with Algae Mask & Massage<br /><span class="tablelabel">A deep hydrating, nourishing, and firming treatment consisting of an exfoliation with an algae mask and massage providing long lasting results. Approx. 90 min</span>
    
            td $119.00
          tr
            td PHYTO MARINE - Body Contour Treatment<br /><span class="tablelabel">A body contour slimming treatment with seaweed or marine mud. This personalized boost provides optimum benefits when received as an intensive series. Approx. 80 min </span>
     
            td $133.00
