.hero-unit
  h1 Staff
  ul.nav.nav-tabs
    li
      a(href='/staff-redken.html') Redken Artists
    li
      a(href='/staff-stylists.html') Stylists
    li
      a(href='/staff-masterstylists.html') Master Stylists
    li.active
      a(href='/staff-specialists.html') Specialists
    li
      a(href='/staff-estheticians.html') Estheticians
    li
      a(href='/staff-massage.html') Massage Therapists
    li
      a(href='/staff-nails.html') Nail Technicians
  .row
    .span7.staff
      div Everyone is unique, I find that to be the most interesting part of my Profession.  I love what I do, I do what I Love.  Hair is Art to Me.
      div I am the one, who can make:
        ul
          li Your Black Hair BLONDE!
          li Your Brown Hair RED!
          li Your Straight Hair CURLY!
          li Your Curly Hair STRAIGHT!
          li Your Long Hair SHORT!
          li Your Short Hair LONG!
          
      div Every Guest is Important to our entire Staff and we look forward to portraying the Image you want to communicate.
      div I am Established as:
        ul
          li Master Designer & Stylist
          li Redken Certified Color Specialist
          li SoCap USA Certified (Keratin Bonded Hair Extensions)
          li Keratin Complex Certified (by Cappola)
          li Runway Reinvention Stylist
          li Bridal Stylist
      div I have a Portfolio, available for your review. Please stop in or call.
    .span3
      h3 Susan Lynch
      img(src='/images/ultima/staff/Susan.JPG')
  .row
    .span2
      h3 Shana Gordan
      img(src='/images/ultima/staff/shana.PNG')
    .span7.staff
      div Redken Certified Colorist. Redken Product Specialist; men's military cuts, camouflage color, short hair specials, thicker straighter hair specialty, total change hair colorist, bridal updo's.
