.hero-unit
  h1 Staff
  ul.nav.nav-tabs
    li
      a(href='/staff-redken.html') Redken Artists
    li.active
      a(href='/staff-stylists.html') Stylists
    li
      a(href='/staff-masterstylists.html') Master Stylists
    li
      a(href='/staff-specialists.html') Specialists
    li
      a(href='/staff-estheticians.html') Estheticians
    li
      a(href='/staff-massage.html') Massage Therapists
    li
      a(href='/staff-nails.html') Nail Technicians
  .row
    .span7.staff
      div Hayley has a driving passion for the beauty industry for as long as she can remember, and her work proves that. She has a young edgy style, and can incorporate that in both traditional and modern styles. She has furthered her education beyond cosmetology school and has been trained in NYC by Redken for cutting and coloring. Not only has she gone to classes in NYC but she is also certified in Redken's Shape Control and Smooth Lock straightening treatments. Hayley has been part of our Ultima team for over a year now. She specializes and loves color-corection services, creative styling, ombre, double process and multidimensional blondes, and can work with all hair types. Mention this biography from the website and recieve 10% off your first service with Hayley!
    .span3
      h3 Hayley Sprich
      img(src='/images/ultima/staff/Hayley.JPG')
  .row
    .span2
      h3 Brittany Hoeni
      img(src='/images/ultima/staff/brittany.jpg')
    .span7.staff
      div Brittany has a fresh young edge. Trained by Redken NYC, Brittany specializes in the total package from trendy new color to precision haircutting. Brittany is certified with Redken color, Redken cutting techniques, as well as formal styling. Recently back from New York with insight from the best of Redken and its educators Brittany has just completed Redken's "COLORING OUT OF YOUR MIND" and "FASHION BEHIND THE CHAIR". Call and book your appointment today! Mention this add while booking your appointment and recieve 10% off your first appointment with Brittany. 
