.hero-unit
  h1 Staff
  ul.nav.nav-tabs
    li
      a(href='/staff-redken.html') Redken Artists
    li
      a(href='/staff-stylists.html') Stylists
    li.active
      a(href='/staff-masterstylists.html') Master Stylists
    li
      a(href='/staff-specialists.html') Specialists
    li
      a(href='/staff-estheticians.html') Estheticians
    li
      a(href='/staff-massage.html') Massage Therapists
    li
      a(href='/staff-nails.html') Nail Technicians
  .row
    .span7.staff
      div It's been a great year for color for me! I have had the opportunity to attend two outstanding color classes at Redken 5th ave school in NYC. The first class was a color correction class (that I loved), that has given me the knowledge and experience to not only correct your color, (during those "oops" moments we've all had), but to keep it healthy, natural and beautiful through the process. I've acquired the cutting edge tools and performed the newest techniques to help you out of those situations. For those of you ready for a change...or thinking about going from from blonde to brunette, Brunette to red...etc. I can get you there while keeping the integrity of your hair in it's natural, healthy state.
      div My second class was "Gray Matters". Those of us that have gray know that it most certainly does matter! This class focused on the structure of the hair and process of aging including what causes gray, what your hair loses during the process, and how to expertly handle, correct and cover it. I will identify your hair needs and work one on one with you to determine what process and color line will best fit your hair.
    .span3
      h3 Jodi Wilson
      img(src='/images/ultima/staff/jodi.JPG')
  .row
    .span2
      h3 Michelle May
      img(src='/images/ultima/staff/Michelle.JPG')
    .span7.staff
      div Originally from Kent in ENGLAND I has been in the USA for 14 years, I have been a stylist for 10 years. People always ask me what I prefer to do, coloring or cutting, I can honestly say my favorite thing is to do the whole package, it is so much fun to see someone walk out of the salon with a smile on their face and feeling good about their hair.
      div I have expand my skills and kept up with the latest trends and techniques with continual education at the Redken Exchange Fifth Avenue New York City.
      div I have professional experience in all techniques of Coloring and cutting, both men and womens hair. Keratin hair straightening, and perming, Socap hair extensions and so much more.
      div I would like to invite you to the salon to meet me and the rest of the salon team, the salon team creates a highly Professional Atmosphere for you to enjoy.
