.hero-unit
  h1 Staff
  ul.nav.nav-tabs
    li
      a(href='/staff-redken.html') Redken Artists
    li
      a(href='/staff-stylists.html') Stylists
    li
      a(href='/staff-masterstylists.html') Master Stylists
    li.active
      a(href='/staff-specialists.html') Specialists
    li
      a(href='/staff-estheticians.html') Estheticians
    li
      a(href='/staff-massage.html') Massage Therapists
    li
      a(href='/staff-nails.html') Nail Technicians
  .row
    .span7.staff
      div Brianna is a licensed Nail Artist and has been with the ultima for 5 years. Over the years Brianna has developed such a passion for nails. I look forward to taking care of my wonderful Clientele.
      div Brianna offers a proffesional and relaxing services
        ul
          li Natural Nail Manicures and pedicures
          li Spa Manicures and Spa Pedicures
          li Certified in shellac gel polish
          li Certified in Gel nails
          li Acrylic Nails
          li Nail Art
      div I look forward to welcoming you soon
    .span3
      h3 Brianna Little
      img(src='/images/ultima/staff/Brianna.JPG')

