.hero-unit
  h1 Staff
  ul.nav.nav-tabs
    li
      a(href='/staff-redken.html') Redken Artists
    li
      a(href='/staff-stylists.html') Stylists
    li
      a(href='/staff-masterstylists.html') Master Stylists
    li
      a(href='/staff-specialists.html') Specialists
    li
      a(href='/staff-estheticians.html') Estheticians
    li.active
      a(href='/staff-massage.html') Massage Therapists
    li
      a(href='/staff-nails.html') Nail Technicians
  .row
    .span7.staff
      div Bobby Santiago graduated from the Institute of Health Education in 2005 located in Fairfield, NJ. and has an extensive background in Swedish massage, Deep tissue, Myofacial release, and Trigger point therapy.
      div Prior to becoming a massage therapist he worked with adults and young adolescents with developmental disabilities. Robert has always enjoyed helping people and massage allows him to continue to do so through a healing touch.
      div Email me for my 50% off promotion!
    .span3
      h3 Robert Santiago
      img(src='/images/ultima/staff/bobby.jpg')
  .row
    .span2
      h3 Charlene Andrewlavage
      img(src='/images/ultima/staff/Charlene.JPG')
    .span7.staff
      div Charlene was trained in Swedish Massage and Shiatsu at the New Jersey School of Massage Therapy in 1995, which was only the beginning of her passion for massage. Over the years of continuing education, she has become proficient in other various massage techniques including Deep Tissue, Hot Stone, Reflexology, Thai Yoga Bodywork, Pre-natal and Cancer Massage. Charlene was also expertly trained by Yon-ka professionals to administer their signature body treatments and attended a recent class to update those skills. Currently, Charlene has begun studying Reiki and hopes to share this ancient Japanese healing technique with interested clients.
      div Now more than ever massage, along with good nutrition and exercise, is vital for a healthy body. "Allow me to assist you in relieving your stress, relaxing your muscles, improving your spirit and with a regimen of consistent massage, help promote a long, happy and healthy life. Thank you!" -Charlene
      div Mention this bio when scheduling and receive 10% off your first massage or body treatment with Charlene.
