.hero-unit
  h1 Staff
  ul.nav.nav-tabs
    li.active
      a(href='/staff-redken.html') Redken Artists
    li
      a(href='/staff-stylists.html') Stylists
    li
      a(href='/staff-masterstylists.html') Master Stylists
    li
      a(href='/staff-specialists.html') Specialists
    li
      a(href='/staff-estheticians.html') Estheticians
    li
      a(href='/staff-massage.html') Massage Therapists
    li
      a(href='/staff-nails.html') Nail Technicians
  .row
    .span7.staff
      div Kiersten is a Redken certified hair colorist , and also a Redken Artist. Education is her passion. As salon manager, she helps grow our new team members by teaching our associate program in the salon. She loves to get inspiration from fashion and current trends to create looks on her guests.  In the upcoming months Kiersten will be traveling to Chicago  to take part in an editorial photo shoot. She will also be traveling to her third Redken Symposium in Las Vegas, and will be continuously traveling  to NYC to the redken exchange for more education. With her passion of education she truly believes that one can never stop learning, because trends in this industry are forever changing. If your are ready for a change whether it be color, cut, or hair additions call today for your complimentary consultation with Kiersten.
    .span3
      h3 Kiersten Morrison 
      img(src='/images/ultima/staff/kiersten.jpg')
  .row
    .span2
      h3 Alexis Perch
      img(src='/images/ultima/staff/Alexis.JPG')
    .span7.staff
      div I have been doing my passion for hair since June of 2010.  In my early stages of my career I won first place in the state of NJ, in an up styling completion and went further on to winning 25th in the country. I am enhancing my skills by taking new classes every chance I get. With in Taking every class within Redken I became a Redken Artist and Redken Color Certified in 2011. With being a Redken Artist I go to other salons in the tri state area and I teach them all the up coming trends and all about our new products!  
       
      div With in the last year I took several classed Redken Exchange on 5th Ave furthering my education in coloring cutting and styling.  As of June in 2012 I became on Tear Sheet.s Artistic Team, and will be taking every chance I get for back stage on fashion week.
       
      div I am young and enjoy learning new techniques that are on the cutting edge. I feel I am a trendy and have a type of personality that allows me help people have the confidence with their new looks!                         
      div This isn't just my job, its my passion and my life style!
  .row
    .span7.staff
      div Marianne is a national pureology artist and has been a member of the ultima team since 2001. She is one of our level 4 stylists and her passion is education and hair. Marianne will create a unique customized look for each and every one of her clients along with a complete hair analysis and product recommendation to maintain optimal colour retention and to recreate your "out of the chair look" into your everyday styling. Certified in SOCAP, TRESSALURE, and PURE EXTENSIONS you can get the length and fullness you desire. Chemical services including PERMANENT WAVING, JAPANESE STRAIGHTENING, AND REDKEN SHAPE CONTROL. Marianne specializing in curly hair with wet and dry styling techniques will literally create the perfect curl. With a love for colour/cutting and a advanced education from the REDKEN EXCHANGE, LOREAL, AND PUREOLOGY she will keep you on the cutting edge of fashion. Traveling from coast to coast, teaching and learning the newest techniques you will leave her feeling excited and confident about your hair!
    .span3
      h3 Marianne Scully
      img(src='/images/ultima/staff/marianne.jpg')
