.hero-unit
  h1 Staff
  ul.nav.nav-tabs
    li
      a(href='/staff-redken.html') Redken Artists
    li
      a(href='/staff-stylists.html') Stylists
    li
      a(href='/staff-masterstylists.html') Master Stylists
    li
      a(href='/staff-specialists.html') Specialists
    li.active
      a(href='/staff-estheticians.html') Estheticians
    li
      a(href='/staff-massage.html') Massage Therapists
    li
      a(href='/staff-nails.html') Nail Technicians
  .row
    .span7.staff
      div "Your mind, body and spirit will be embraced"
      div Virginia has been with Ultima Day Spa for three years and has made us the "Best Day Spa" in Sussex county in 2008 and 2009, according to Peoples choice Awards. There is such a sense of peace and well-being the moment you enter our Spa. Virginia's passion is to help people look and feel their best.
      div As an Esthetician, I take that responsibility seriously. I am committed to treating each guest as a unique individual, and catering to their special needs. I believe in treating the body, mind, and spirit when doing a service, so you can look and feel your best. Emphasizing that home care is just as important as the treatments received. come treat yourself to a little relaxation, reward and knowledge for a better YOU! Specialized facials by YONKA skin care products
      div Virginia also specializes in eyebrow designing and makeup artistry.
    .span3
      h3 Virginia Speranza 
      img(src='/images/ultima/staff/Virginia.JPG')
